@import url(style.css);
@import url(variables.css);



.consulta-cuenta {
  background: var(--crema-claro);
  padding: 2rem;
  border-radius: 8px;
  width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.consulta-cuenta h2 {
  margin-bottom: 1rem;
  color: var(--naranja-oscuro);
}

.resultado-cuenta {
  margin-top: 2rem;
}

.resultado-cuenta table {
  width: 100%;
  border-collapse: collapse;
}

.resultado-cuenta th, .resultado-cuenta td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.oculto {
  display: none;
}
