@import url(style.css);


/* Página de login */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden; /* oculta scroll vertical */
}



body.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--gris-claro);
}

.encabezado {
  width: 100%;
  margin: 0;
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: var(--crema-claro);
  border-bottom: 1px solid var(--naranja-medio);
}



.form-login {
  background-color: var(--crema-claro);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  margin: 2rem auto; /* centra horizontalmente y separa del encabezado */
}


.form-login h2 {
  margin-bottom: 1rem;
  color: var(--naranja-oscuro);
}

.campo {
  margin-bottom: 1rem;
  text-align: left;
}

.campo label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.campo input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--naranja-medio);
  border-radius: 4px;
}


.btn {
  background-color: var(--naranja-oscuro);
}

.pie {
  width: 100%;                 /* ocupa todo el ancho */
  text-align: center;          /* centra el texto */
  background-color: var(--crema-claro);
  padding: 1rem;
  border-top: 1px solid var(--naranja-medio);
  margin-top: auto;            /* empuja el footer al fondo */
  box-sizing: border-box;
}
