:root {
  --naranja-oscuro: #d65a1f;
  --naranja-medio: #f28c3a;
  --rojo-cancelar: #f00808;
  --rojo-medio: #761717;
  --crema-claro: #fdf3e7;
  --gris-claro: #f5f5f5;
  --texto: #333;
  --btn-envio-verde: #28a745;
  --btn-hover-envio: #218838;
  --amarillo-reservada: #fff876;
  --verde-disponible: #a6ff83;
  --rojo-ocupada: #ff6868;
  --btn-rojo-cancelar: #ea0404;
  --btn-hover-cancelar: #810000;
  --color-fondo-formulario: #ffe8cd;
  --padding-header:50px;
  /* --tamaño--btn-sidebar: 0.8rem; */
  --tamaño-btn-menu: 150px 150px;
}

